@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --clr-black-100: #0A0E15;
  --clr-black-80: #373F4E;

  --clr-white-60: #D1D0E0;
  --clr-white-100: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background: var(--clr-black-100);
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  display: block;
  border: 1px solid var(--clr-white-60);
  color: var(--clr-white-100);
  background: var(--clr-black-100);
  text-transform: uppercase;
  font-weight: 700;
  padding: 1rem 2rem;
  margin: 1rem 0 2rem;
  cursor: pointer;

  &:hover {
    animation: btn-hover 2s infinite;
  }
}

.container {
  max-width: 700px;
  width: 100%;
}

#post-data {
  list-style: none;

  li {
    border-top: 1px solid var(--clr-black-80);
    padding: 2rem 1rem;
    color: var(--clr-white-60);

  }

  h3 {
    color: var(--clr-white-100);
    margin-bottom: 1rem;
  }
}

@keyframes btn-hover {
  0% {
    border-color: var(--clr-white-60);
  }

  25% {
    border-color: red;
  }

  50% {
    border-color: green;
  }

  75% {
    border-color: blue;
  }

  100% {
    border-color: var(--clr-white-60);
  }
}